@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700;900&display=swap');
.adaptivSlayder {
    position: relative;
    max-width: 700px;
    height: 392px;
    margin: 65px auto;
    box-shadow: 0 9px 18px -4px rgba(0, 0, 0, 0.69);
}
.adaptivSlayder input[name="kadoves"] {
   display: none;   
}     
.kadoves { 
    position: absolute;  
    left: 0;
    bottom: -35px; 
    text-align: center; 
    width: 100%;  
}       
.kadoves label {  
    display: inline-block;
    width: 7px;  
    height: 7px;  
    cursor: pointer; 
    margin: 0 2px; 
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .7); 
    border-radius: 55%;  
    border: 4px solid #2f363c;  
    background-color: #738290; 
}       
#slaid1:checked~.kadoves label[for="slaid1"] {  
    background-color: white;  
}       
#slaid2:checked~.kadoves label[for="slaid2"] { 
    background-color: white; 
}       
#slaid3:checked~.kadoves label[for="slaid3"] {  
    background-color: white; 
}      
.adaptivSlayderlasekun {  
    overflow: hidden;         
}       
.abusteku-deagulus { 
    display: flex;  
    width: 100%;  
    transition: all 0.6s;  
}      
.abusteku-deagulus img {  
    width: 100%; 
    flex-shrink:0;  
}       
#slaid1:checked~adaptivSlayderlasekun abusteku-deagulus {  
    transform: translate(0); 
}      
#slaid2:checked~.adaptivSlayderlasekun .abusteku-deagulus {  
   transform: translateX(-100%);  
}     
#slaid3:checked~.adaptivSlayderlasekun .abusteku-deagulus {  
    transform: translateX(-200%); 
}
#menu__toggle {
    opacity: 0;
}
.menu__btn {
    display: flex; 
    align-items: center;  
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 300;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #63af0c;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #54d63a;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    font-family: 'Montserrat', 900;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: rgb(11, 97, 18);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.menu__item:hover {
    background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
body {
    background-color: #66e955;
}
header {
    border-radius: 15px;
}
h3 {
    justify-content: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}
h2 {
    justify-content: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}
p {
    justify-content: center;
    display: flex;
    font-family: 'Montserrat', 100;
}
.footer {
    justify-content: center;
    display: flex;
}
.footer-columns {
    display: flex;
}
.footer-column {
    flex: 50%;
    margin: 20px;
    background-color: #21ff19;
    border-radius: 10px;
}